footer.site-footer {
  padding: 0 1.875em; }
  footer.site-footer .footer-inner {
    color: #78909c;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.5;
    padding: 2.45em 1.125em; }
    footer.site-footer .footer-inner a {
      color: #6a7074; }
footer.site-footer {
    padding: 0 1.125em; }
    footer.site-footer .footer-inner {
        padding: 1.75em 1em; } 